.form{
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 32px;
}

.input {
    padding: 8px 16px;
    border-radius: 4px;
    width: 272px;
    border-color: #808080;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    
}

.button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    border-color: transparent;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.loader {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

.gallery {
    display: flex;
    width: 1128px;
    gap: 24px;
    flex-wrap: wrap;
    margin: 0 auto;
}


.wrapper {
    display: flex;
    justify-content: center;
    width: 360px;
    gap: 28px;
    margin-top: 5px;
}

.wrapper-text {
font-weight: 700;
text-align: center;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.wrapper-span{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}